

#quiz-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.quis{
    padding: 40px;
    padding-left: 50px;
}
.quis h1{
    text-align: center;
    font-size: 25px;
    margin-bottom: 35px;
}
.question {
    margin-bottom: 20px;
    padding-left: 40px;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    margin-bottom: 10px;
}

#submit-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 40px;
}

#result-container {
    margin-top: 20px;
    display: none;
}

@media screen and (max-width: 567px){
    .quis h1{
        font-size: 25px;
        text-align: center;
        margin-bottom: 30px;
    }
    .quis{
        padding-left: 18px;
    }
    .question {
        margin-bottom: 20px;
        padding-left: 10px;
    }
    #submit-btn{
        margin-left: 10px;
    }
}