#quiz-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.quis {
  padding: 40px;
  padding-left: 50px;
}
@keyframes blink {
  0% {
    color: blue;
  }
  25% {
    color: yellow;
  }
  50% {
    color: red;
  }
  75% {
    color: purple;
  }
  100% {
    color: blue;
  }
}

.quis h1 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
  animation: blink 4s infinite; /* 4s adalah durasi animasi, infinite membuat animasi berulang terus-menerus */
}
.quis h4{
  display: inline-block;
  font-size: 20px;
}
.question {
  margin-bottom: 20px;
  padding-left: 40px;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  margin-bottom: 10px;
}

#submit-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 40px;
}

#result-container {
  margin-top: 20px;
  display: none;
}

@media screen and (max-width: 567px) {
  .quis h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
  }
  .quis h4{
    font-size: 17px;
    margin-bottom: 10px;
  }
  .quis {
    padding-left: 18px;
  }
  .option {
    margin-bottom: 10px;
  }
  .question {
    margin-bottom: 20px;
    padding-left: 10px;
  }
  #submit-btn {
    margin-left: 10px;
  }
}
